@import './styles/variables.css';
@import './styles/utilities.css';
@import './styles/styles.css';
@import './styles/auth.css';
@import './styles/group.css';
@import './styles/sidebar.css';
@import './styles/chat.css';
